*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
body
{
    width: 100%;
    height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
/**/
#containerFULL
{
    width: 730px;
    height: 650px;
    margin: 48px auto;
    padding: 0;
    display: flex;
    justify-content: center;
}
.containerBloco
{
    height: 100%;
    width: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#imgPhone
{
    height: 650px;
}
#logo
{
    height: 50px;
}
#imgPhoto
{
    height: 86px;
    border-radius: 50%;
}
#containerLogin
{
    width: 348px;
    height: 334px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: 1px solid lightgray;
}
#containerTrocaUser
{
    width: 348px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: 1px solid lightgray;
}
#containerTrocaUser p
{
    text-align: center;
    color: rgb(160, 160, 160);
}

#buttonContinuar
{
    height: 30px;
    padding: 8px;
    background-color: #0095f6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#containerBaixarAPP
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 38px;
}
.links
{
    font-weight: bold;
    color: #0095f6;
}

#containerObtenhaAPP
{
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icoDownload
{
    height: 38px;
    width: 133px;
    background-size: cover;
}

.icoDownload:nth-child(1)
{
    background-image: url('./img/apple-button.png');
}

.icoDownload:nth-child(2)
{
    background-image: url('./img/googleplay-button.png');
}

@media (max-width: 875px)
{
    .containerBloco:nth-child(1)
    {
        display: none;
    }
}
/*
@media (max-width: 450px)
{
    .containerFULL
    {
        display: none;
    }
    #containerLogin
    {
        width: 100%;
        margin: 0;
    }
}
*/